.header {
    background-color: red;
    color: #fff;

    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 5000px;
}

h1 {
    text-align: center;
}

h1:hover {
    text-decoration: underline;
    cursor: pointer;
}